<h2> Liste des poneys</h2>
<p-table [value]="ponies" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Color</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pony>
        <tr>
            <td>{{pony.id}}</td>
            <td>{{pony.name}}</td>
            <td>{{pony.color}}</td>
            <td>{{pony.age}}</td>
            <td><button pButton routerLink="update-pony/{{pony.id}}"><i class="pi pi-cog"></i></button></td>
        </tr>
    </ng-template>
</p-table>

