<div>ID : {{race.id}} 
    location : {{race.location | locationName}}
    Date : {{race.date | date }}
    Participants : <div [ngStyle]="{'color': p.color}" *ngFor="let p of race.ponies">Poney : {{p.name | poneyName}} - {{p.color}} - {{p.age}}</div></div>
