<h2> Liste des courses</h2>
<p-table [value]="races" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Location</th>
            <th>Ponies</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-race>
        <tr>
            <td>{{race.id}}</td>
            <td>{{race.date}}</td>
            <td>{{race.location | locationName}}</td>
            <td>
                <ul>
                    <li *ngFor="let p of race.ponies">
                        {{p.name}}
                    </li>
                </ul>
            </td>
            <td><button pButton routerLink="../update-race/{{race.id}}"><i class="pi pi-cog"></i></button></td>
        </tr>
    </ng-template>
</p-table>