<h2>Ajouter un poney</h2>
<div class="p-grid">
    <form (ngSubmit)="onSubmit()">
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText id="name" placeholder="Pony name" name="name" [(ngModel)]="pony.name">
            </div>
        </div>
    <br>
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-pencil"></i></span>
                <input type="text" pInputText id="color" placeholder="Pony color" name="color" [(ngModel)]="pony.color">
            </div>
        </div>
    <br>
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                <input type="text" pInputText id="age" placeholder="Pony age" name="age" [(ngModel)]="pony.age">
            </div>
        </div>
        <br>
        <button pButton type="submit" label="Submit"></button>
    </form>
</div>