<p-menubar [model]="items">
    <input *ngIf="!loggedIn" type="text" pInputText name="username" [(ngModel)]="username" placeholder="Login" style="margin-right: 15px;">
    <button pButton *ngIf="!loggedIn" label="Login" icon="pi pi-power-on" (click)="login()"></button>
    <button pButton *ngIf="loggedIn" label="Logout" icon="pi pi-power-off" (click)="logout()"></button>
</p-menubar>



