<h2>Ajouter une course</h2>
<div class="p-grid p-fluid">
    <form (ngSubmit)="onSubmit()">
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-map"></i></span>
                    <input type="text" pInputText placeholder="Location" name="location" [(ngModel)]="race.location">
                </div>
            </div>



        <label>Date </label>
        <input type="date" id="date" [(ngModel)]="race.date" name="date" />

        <br>

        <div class="p-col-12 p-md-4">
        <p-pickList [source]="poniesSelect" [target]="listdrop">
            <ng-template let-ponies pTemplate="name">
                <div>
                    <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{ponies.name}}</div>
                </div>
            </ng-template>
        </p-pickList>
        </div>
        <button pButton type="submit" label="Submit"></button>
    </form>
</div>
